<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gráfico Cotações</title>
</head>
<body>
    </br>
     <!-- Field for get Date -->
    <form action="{% url 'date_chart' %}" method="POST">
         {% csrf_token %}
         {{ form.as_p }}
        <div class="row">
            <label>Data Inicial:</label>
            <input type="date" id="date_initial" name="date_initial">
        </div>
        </br>
        <div class="row">
            <label>Data Final:</label>
            &nbsp;&nbsp;<input type="date" id="date_final" name="date_final">
        </div>
        </br>
        <button type='submit'>Gerar</button>
    </form>
    {% if errors %}
        </br>
        <span style="color:red">{{errors}}</span> </form></body></br></br>
        <a href="{% url 'initial_chart' %}" >Voltar</a>
    {% endif %}
    </center>
    </div>
    
    <!-- Chart usihg HighCharts Lib -->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    </br>
    <hr>
    <div id="container"></div>
    
    <script>
    _dates = {{dates|safe}};
    _datareal = {{real|safe}}; 
    _dataeuro = {{euro|safe}}; 
    _dataiene = {{iene|safe}}; 

    Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Cotações em Relação ao Dólar USD'
        },
        xAxis: {
            categories: _dates
        },
        yAxis:[{
            labels: {
                style: {
                    color: Highcharts.getOptions().colors[2]
                }
            },
            title: {
                text: 'Iene (JPY)',
                style: {
                    color: Highcharts.getOptions().colors[2]
                }
            },
            opposite: true
        },
        {
            labels: {
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            title: {
                text: 'Real (BRL)',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
        },
        {
            labels: {
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'Euro (EUR)',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            opposite: true
        }],
        plotOptions: {
            series: {
                events: {
                    legendItemClick: function () {
                        var visibility = this.visible ? 'mostrar' : 'ocultar ';
                        if (!confirm('Você quer mesmo mudar isso?')) {
                            return false;
                        }
                    }
                }
            }
        },
        series: [{
            name: 'Real (BRL)',
            data: _datareal,
            yAxis: 1
        },{
            name: 'Euro (EUR)',
            data: _dataeuro,
            yAxis: 2
        },{
            name: 'Iene (JPY)',
            data: _dataiene,
        }]
    });
  </script>
</body>
</html>